:root {
  --section-space: 70px;
  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --weight-bold: 700;
  --letterSpacing-2: 0.4em;
  --fontSize-label-2: 1.2rem;
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --radius-24: 24px;
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --fontFamily-forum: 'Forum', cursive;
  --lineHeight-6: 1.4em;
  --lineHeight-4: 1.6em;
  --lineHeight-2: 1.2em;
  --weight-regular: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: black;
}

.header {
  background-color: #FFDF4C;
  margin-right: 0;
  padding: 10px;

}

nav {
  display: flex;
  width: 100%;
  


}

.logo {
  display: flex;
  width: 20%;
  justify-content: center;

}

.logo img {
  width: 150px;
}



.nav-links {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-links li {
  list-style-type: none;
  margin: 10px;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.nav-links li :hover {
  border-bottom: 3px solid #f56e00;

}

/*
nuevos css

*/

.section {
  position: relative;
  padding-block: var(--section-space);
  overflow: hidden;
  z-index: 1;
}


.menu .section-title { margin-block-end: 40px; }

.menu .grid-list { margin-block-end: 50px; }

.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.container { padding-inline: 16px; }

.section-subtitle {
  position: relative;
  color: var(--gold-crayola);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.text-center { text-align: center; }

.label-2 { font-size: var(--fontSize-label-2); }


.headline-1 { font-size: var(--fontSize-headline-1); }
.menu .section-title { margin-block-end: 40px; }


.menu .section-title { margin-block-end: 40px; }

.menu .grid-list { margin-block-end: 50px; }

.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hover\:card .card-banner { background-color: var(--gold-crayola); }

.hover\:card .card-banner .img-cover { transition: var(--transition-2); }

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover {
  opacity: 0.7;
  transform: scale(1.05);
}

.menu-card .card-banner {
  flex-shrink: 0;
  border-radius: var(--radius-24);
}

.menu-card .card-title { transition: var(--transition-1); }

.menu-card .card-title:is(:hover, :focus-visible) { color: var(--gold-crayola); }

.menu-card .badge {
  background-color: var(--gold-crayola);
  color: var(--eerie-black-1);
  font-family: var(--fontFamily-forum);
  max-width: max-content;
  line-height: var(--lineHeight-6);
  text-transform: uppercase;
  padding-inline: 10px;
  margin-block-start: 10px;
}

.menu-card .span {
  color: var(--gold-crayola);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-4);
}

.menu-text .span {
  display: inline-block;
  color: var(--gold-crayola);
}

.menu .btn {
  margin-inline: auto;
  margin-block-start: 26px;
}

.menu .shape {
  display: block;
  width: 70%;
}

.menu .shape-2 {
  top: 0;
  left: 0;
}

.menu .shape-3 {
  bottom: 0;
  right: 0;
}


.headline-1,
.title-3 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-list li {
  flex: 0 0 48%; /* Esto hará que cada elemento de la lista ocupe aproximadamente la mitad del ancho del contenedor, creando así dos columnas. */
}

.btn {
  position: relative;
  color: var(--gold-crayola);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--gold-crayola);
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}

.move-anim { animation: move 5s linear infinite; }
.shape {
  display: none;
  position: absolute;
  max-width: max-content;
  z-index: -1;
}
