<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="seccion menu Club de empanadas">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/menu.css">
</head>
<body>
    <header class="header active">
        <nav class="container">
            <div class="logo" >
                <img src="../static/img/clubDeEmpanadas.png" alt="logo empanadas" >
           <!-- </div>
            <ul class="nav-links">
                <li>
                    <a href="">HACE TU PEDIDO</a>
                </li>
                <li>
                    <a href="">SUCURSALES</a>
                </li>
                <li>
                    <a href="">FRANQUICIAS</a>
                </li>
                <li>
                    <a href="">TRABAJA CON NOSOTROS</a>
                </li>
                <li>
                    <a href="">MERCHANDISING</a>
                </li>
            </ul> -->
        </nav>
    </header>
    <section class="section menu" aria-label="menu-label" id="menu">
        <div class="container">
          
          <h2 class="headline-1 section-title text-center">Las mejores empanadas</h2>
          
          <ul class="grid-list">
            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-1.png" width="100" height="100" alt="Greek Salad"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Chaqueñas</a>
                    </h3>
                    <span class="badge label-1">Especial</span>
                    <span class="span title-2">$5.500</span>
                  </div>
                  <p class="card-text label-1">
                    Tienen un relleno de dorado, un pescado típico de la zona, mezclado con tomate pelado, cebolla, pimiento, pimentón dulce, chalotas, huevo, curry, cebollino, chile molido, pimienta negra, tomillo y laurel.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-2.png" width="100" height="100" loading="lazy" alt="Lasagne"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Santiagueñas</a>
                    </h3>
                    <span class="span title-2">$7.500</span>
                  </div>
                  <p class="card-text label-1">
                    Se cocinan en horno de barro y se rellenan con carne picada, arvejas, huevo, pimiento, cebolla, pasas de uva y condimentos como pimentón dulce, orégano, chile y comino.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-3.png" width="100" height="100" loading="lazy" alt="Butternut Pumpkin"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Jujeñas</a>
                    </h3>
                    <span class="span title-2">$10.000</span>
                  </div>
                  <p class="card-text label-1">
                    Similares a las salteñas, pero con ingredientes adicionales como arvejas y una salsa picante de tomate y chile molido. A menudo llevan carne de llama.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-4.png" width="100" height="100" loading="lazy" alt="Tokusen Wagyu"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Tucumanas</a>
                    </h3>
                    <span class="badge label-1">Nuevas</span>
                    <span class="span title-2">$12.000</span>
                  </div>
                  <p class="card-text label-1">
                    Se caracterizan por su relleno sencillo de carne picada, ajo, cebolla, comino, chile molido, pimienta y pimentón. Se pueden cocinar en horno de barro o freírse.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-5.png" width="100" height="100" loading="lazy" alt="Olivas Rellenas"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Salteñas</a>
                    </h3>
                    <span class="span title-2">$10.000</span>
                  </div>
                  <p class="card-text label-1">
                    Son pequeñas y con un relleno jugoso que incluye carne cortada a cuchillo, cebolla, huevo duro, pimiento, ají, comino y pimentón.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="../static/img/menu-6.png" width="100" height="100" loading="lazy" alt="Opu Fish"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Empanadas Riojanas</a>
                    </h3>
                    <span class="span title-2">$13.000</span>
                  </div>
                  <p class="card-text label-1">
                    Conocidas por ser muy jugosas, su relleno incluye grasa de pella, carne, cebolla, cebolla de verdeo, papa, pimiento, huevo, ají molido, pimentón y comino
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <p class="menu-text text-center">
            Horarios de atencion! De <span class="span">7:00 pm</span> a <span class="span">9:00 pm</span> Todos los dias
          </p>
          <a href="../index.html" class="btn btn-primary">
            <span class="text text-1">Ir a Inicio</span>
            <span class="text text-2" aria-hidden="true">Ir a Inicio</span>
          </a>
          <img src="../static/img/shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
          <img src="../static/img/shape-6.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-3 move-anim">
        </div>
      </section>

    <footer class="footer">
    
        <div class="redes">
            <p>Encontranos en:</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    
    
        <p>COPYRIGHT 2024 - CLUB DE EMPANADAS - TODOS LOS DERECHOS RESERVADOS - DESARROLLADO POR GRUPO15</p>
    
        <div></div>
    
    </footer>
</body>
</html>